<html lang="en" dir="ltr">

    <head>
        <title>MinT Machine translation</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link id="theme-style" rel="stylesheet" href="/static/style.css">
        <script src="/static/main.js"></script>
        <script>
            const mint_format = "{{format}}";
        </script>
    </head>

    <body>
        <header>
            <h1><span class="mint">MinT</span> Machine translation</h1>
        </header>
        <main>
            <nav class="nav">
            {% for format in formats %}<a href="/{{format}}">{{format}}</a>{% endfor %}
            </nav>
            <section class="container">

                <select id="source_lang">
                    <option value="en">English</option>
                </select>

                <select id="target_lang">
                    <option value="es">Spanish</option>
                </select>
                {% if format == 'webpage' %}
                <input id="source_content" placeholder="Enter a webpage URL"
                    value="https://en.m.wikivoyage.org/wiki/Ponmudi" />
                <div id="target_content"></div>
                {% elif format == 'html' %}
                <div contenteditable="" id="source_content">
                    <p id="mwCw">The <b id="mwDA">dodo</b> (<i id="mwDQ"><b id="mwDg">Raphus cucullatus</b></i>) is an
                        <a rel="mw:WikiLink" href="./Extinction" title="Extinction" id="mwDw">extinct</a> <a
                            rel="mw:WikiLink" href="./Flightless_bird" title="Flightless bird" id="mwEA">flightless
                            bird</a> that was <a rel="mw:WikiLink" href="./Endemism" title="Endemism"
                            id="mwEQ">endemic</a> to the island of <a rel="mw:WikiLink" href="./Mauritius"
                            title="Mauritius" id="mwEg">Mauritius</a>, which is east of <a rel="mw:WikiLink"
                            href="./Madagascar" title="Madagascar" id="mwEw">Madagascar</a> in the <a rel="mw:WikiLink"
                            href="./Indian_Ocean" title="Indian Ocean" id="mwFA">Indian Ocean</a>. The dodo's closest <a
                            rel="mw:WikiLink" href="./Genetic_distance" title="Genetic distance" id="mwFQ">genetic
                            relative</a> was the also-extinct <a rel="mw:WikiLink" href="./Rodrigues_solitaire"
                            title="Rodrigues solitaire" id="mwFg">Rodrigues solitaire</a>. The two formed the <a
                            rel="mw:WikiLink" href="./Taxonomic_rank" title="Taxonomic rank" id="mwFw">subfamily</a> <a
                            rel="mw:WikiLink" href="./Raphinae" title="Raphinae" id="mwGA">Raphinae</a>, a clade of
                        extinct flightless birds that were a part of the <a rel="mw:WikiLink" href="./Family_(biology)"
                            title="Family (biology)" id="mwGQ">family</a> which includes <a rel="mw:WikiLink"
                            href="./Columbidae" title="Columbidae" id="mwGg">pigeons and doves</a>. The closest <a
                            rel="mw:WikiLink" href="./Extant_taxon" title="Extant taxon" class="mw-redirect"
                            id="mwGw">living</a> relative of the dodo is the <a rel="mw:WikiLink"
                            href="./Nicobar_pigeon" title="Nicobar pigeon" id="mwHA">Nicobar pigeon</a>. A white dodo
                        was once thought to have existed on the nearby island of <a rel="mw:WikiLink" href="./Réunion"
                            title="Réunion" id="mwHQ">Réunion</a>, but it is now believed that this assumption was
                        merely confusion based on the also-extinct <a rel="mw:WikiLink" href="./Réunion_ibis"
                            title="Réunion ibis" id="mwHg">Réunion ibis</a> and paintings of white dodos.</p>
                </div>
                <div id="target_content"></div>
                {% elif format == 'markdown' %}
                <textarea class="text-monospace"  id="source_content">
# Heading

This is  a [link to Wikipedia](https://wikipedia.org)
                </textarea>
                <textarea class="text-monospace"  id="target_content" ></textarea>
                {% elif format == 'json' %}
                <textarea class="text-monospace" id="source_content">
{
    "id": 1,
    "title": "Chicken Biryani",
    "description": "Chicken Biryani is a savory chicken and rice dish",
    "ingredients": [ "Vegetable oil", "Garlic", "Ginger" ,"Rice"]
}
                </textarea>
                <textarea class="text-monospace" id="target_content" ></textarea>
                {% elif format == 'svg' %}
                <div class="svg" contenteditable="" id="source_content">
                    <svg viewBox="0 0 240 100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <text x="100" y="20" fill="red" class="small">My cat is grumpy!</text>
                        <path
                            id="MyPath"
                            fill="none"
                            stroke="red"
                            d="M10,90 Q90,90 90,45 Q90,10 50,10 Q10,10 10,40 Q10,70 45,70 Q70,70 75,50" />
                        <!-- </defs> -->

                        <text>
                            <textPath href="#MyPath">This text along the curve.</textPath>
                        </text>
                      </svg>
                </div>
                <div class="svg" id="target_content"></div>
                {% else %}
                <textarea id="source_content">
Jazz is a music genre that originated in the African-American communities of New Orleans, Louisiana, United States, in the late 19th and early 20th centuries, with its roots in blues and ragtime. Since the 1920s Jazz Age, it has been recognized as a major form of musical expression in traditional and popular music, linked by the common bonds of African-American and European-American musical parentage. Jazz is characterized by swing and blue notes, complex chords, call and response vocals, polyrhythms and improvisation. Jazz has roots in West African cultural and musical expression, and in African-American music traditions.
                </textarea>
                <textarea id="target_content" ></textarea>
                {% endif %}
            </section>
            <section class="mtmodel-container">
                <label for="mtmodel">Translation model:
                    <select id="mtmodel">
                    </select>
                </label>
            </section>
            <section class="actions">
                <button onclick="doTranslate()">Translate</button>
            </section>
            <section id="results">
                <progress id="progress"></progress>
                <p id="status"></p>
            </section>
        </main>

        <footer>
            <p>MinT is a machine translation system hosted by Wikimedia Foundation. It uses multiple Neural Machine
                translation models to provide translation between large number of languages.
            </p>
            <ul>
                <li><a href="https://ai.facebook.com/research/no-language-left-behind/">NLLB</a></li>
                <li><a href="https://github.com/Helsinki-NLP/OPUS-MT">OpusMT</a></li>
                <li><a href="https://github.com/Softcatala/nmt-models">SoftCatala</a></li>
                <li><a href="https://github.com/AI4Bharat/IndicTrans2">IndicTrans2</a></li>
            </ul>
            <p>The models are optimized for performance using <a href="https://github.com/OpenNMT/CTranslate2">OpenNMT
                    CTranslate2</a>
            </p>
            <p><a href="https://gerrit.wikimedia.org/g/mediawiki/services/machinetranslation">Source code</a> <a
                    href="/docs">API Spec</a></p>
        </footer>
    </body>

</html>