<html lang="en" dir="ltr">

    <head>
        <title>MinT Machine translation</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </head>

    <body>
        <header>
            <h1><span class="mint">MinT</span> Machine translation</h1>
        </header>
        <main>
            <section class="container">
                <select id="source_lang">
                    <option value="en">English</option>
                </select>

                <select id="target_lang">
                    <option value="es">Spanish</option>
                </select>

                <textarea id="source_content">
Jazz is a music genre that originated in the African-American communities of New Orleans, Louisiana, United States, in the late 19th and early 20th centuries, with its roots in blues and ragtime.
Since the 1920s Jazz Age, it has been recognized as a major form of musical expression in traditional and popular music, linked by the common bonds of African-American and European-American musical parentage.
Jazz is characterized by swing and blue notes, complex chords, call and response vocals, polyrhythms and improvisation.
Jazz has roots in West African cultural and musical expression, and in African-American music traditions.
                </textarea>
                <textarea id="target_content" disabled></textarea>
            </section>
            <section class="actions">
                <button onclick="doTranslate()">Translate</button>
                <progress id="progress"></progress>
                <p id="status"></p>
            </section>
        </main>

        <footer>
            <p>MinT is a machine translation system hosted by Wikimedia Foundation. It uses multiple Neural Machine translation models to provide translation between large number of languages.
            </p>
            <ul>
                <li><a href="https://ai.facebook.com/research/no-language-left-behind/">NLLB</a></li>
                <li><a href="https://github.com/Helsinki-NLP/OPUS-MT">OpusMT</a></li>
                <li><a href="https://github.com/Softcatala/nmt-models">SoftCatala</a></li>
                <li><a href="https://github.com/AI4Bharat/IndicTrans2">IndicTrans2</a></li>
            </ul>
            <p>The models are optimized for performance using <a href="https://github.com/OpenNMT/CTranslate2">OpenNMT CTranslate2</a>
            </p>
            <p><a href="https://gerrit.wikimedia.org/g/mediawiki/services/machinetranslation">Source code</a> <a href="/api/spec">API Spec</a></p>
        </footer>
    </body>

</html>
